@font-face {
    font-family: 'cafe';
    src: url('./assets/AvocadoDietDemoRegular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #F2E5D7;
    color: #3B2F2F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #3B2F2F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#logo-text {
    font-family: "cafe";
    font-size: 30px;
    color: #E6B655;
}

#logo {
    width: 64px;
}

nav>button {
    background-color: #8AA78B;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

nav>button:hover {
    background-color: #E6B655;
}

.active-tab {
    background-color: #E6B655;
}

footer {
    background-color: #333333;
    color: #EDEDED;
    margin-top: auto;
    display: flex;
    justify-content: center;
}